.card{
    width: 16rem;
    height: 16rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12rem;
    text-align: center;
    background: rgba(255,255,255,0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
    gap:20px;
}
.card > :nth-child(3){
    color: var(--gray);
    font-size: 16px;
    margin-bottom: 2rem;
}
.card > img{
    transform: scale(1);
    margin-bottom: -2rem;
}
/*blur*/
.s-blur2{
    left: 14rem;
    top: 8rem;
}
.s-blur1{
    left: -18rem;
    top: 13rem;
}
@media screen and (max-width: 480px){
    .card{
        margin-left: 2rem;
        margin-bottom: 5rem;
    }
}
@media screen and (width: 280px){
    .card{
        width: 11rem;
        height: 15rem;
        margin-left: 0.5rem;
        margin-bottom: 5rem;
    }
}