.Updates{
    width: 100%;
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
    font-size: 10px !important;
}

.update{
    display: flex;
    gap: 0.3rem;
}
.update > img{
    width: 3.2rem;
    height: 3.2rem;
}
.noti>div>span  :nth-of-type(1){
    font-weight: bold;
}
.date-time{
    display: flex;
    justify-content: flex-end;   
    font-size: 13px;
}
/* @media screen and (max-width: 1200px){
    .Updates{
        width: 60vh;
    }
} */