.chatbot{
    padding: 15px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.pdfBtn{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    background-color: #e7e0de;
    font-weight: bold;
    border: none;
}
.loading{
    height: 210px;
    margin-left: 13.5rem;
}
.text-main{
    font-weight: bold;
}
.text-show{
    margin-top: -3.3rem;
    margin-left: -1rem;
    margin-right: -2rem;
    border-top: 3px solid black;
    text-align: center;
}
.wa{
    height: 120px;
    margin-left: 13rem;
    border-radius: 20px;
}
.text-ins{
    text-align: center;
    font-size: 17px;
}